.git
.gitignore
.dockerignore
instances/
dev/
tests-offline/
*.crt
*.key
*.csr
*.srl
ottergate/
config/resolv.conf
config/ca.crt
config/ca.key
config/ca.srl
config/server.crt
config/server.key
config/server.csr
config/client.crt
config/client.key
config/client.csr
.ottergate-master-key
