.git
.gitignore
.dockerignore
instances/
dev/
tests-offline/
*.crt
*.key
*.csr
*.srl
ottergate/
config/ottergate/resolv.conf
config/ottergate/ca.crt
config/ottergate/ca.key
config/ottergate/ca.srl
config/ottergate/server.crt
config/ottergate/server.key
config/ottergate/server.csr
config/ottergate/client.crt
config/ottergate/client.key
config/ottergate/client.csr
.ottergate-master-key
