.git
.gitignore
.dockerignore
instances/
dev/
tests-offline/
*.crt
*.key
*.csr
*.srl
config/ottergate/certs/ca.crt
config/ottergate/certs/ca.key
config/ottergate/certs/ca.srl
config/ottergate/certs/server/
config/ottergate/certs/client/
!config/ottergate/certs/custom/
!config/ottergate/certs/custom/*
.ottergate-master-key
dev