GITHUB_TOKEN=ghp_your_secure_token_here
GITLAB_TOKEN=glpat-your_secure_token_here
GIT_NAME="Agent "
GIT_EMAIL="hello@brain.fr"
PARANOID_MODE=true
GITHUB_HOSTS=github.com,api.github.com
GITLAB_HOSTS=gitlab.com
ALLOW_PUSH=false